.submit-button {
    background-color: #fdef7d;
    border: none;
    margin: 40px;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 30px;
    transition: all 250ms ease-in-out;
    border: 2px solid transparent;
}

.submit-button:hover {
    cursor: pointer;
    background-color: yellow;
    border-color: #fdef7d;
}
